.home {
  text-align: center;
  padding: 2rem;
}

.hero {
  background: linear-gradient(135deg, #f8f8f8 0%, #e8e8e8 100%);
  padding: 4rem 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero-content {
  flex: 1;
  text-align: left;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  color: #d4a574;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
  text-align: left;
}

.cta-button {
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: #d4a574;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 800;
}

.cta-button:hover {
  background-color: #c4a564;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.insta-icon,
.whats-icon {
  margin-right: 8px;
  display: inline-block;
}

.whats-icon {
  color: #25d366;
}

.insta-icon {
  color: #e1306c; 
}

.contact-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: transform 0.2s, opacity 0.2s;
}

.contact-links a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.contact-links .whats {
  color: #25d366;
}

.contact-links .whats:hover {
  color: #128c7e;
}

.contact-links .insta {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .contact-links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-links a {
    margin: 0.5rem 0;
    border-bottom: 1px solid #cacc60;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero h1,
  .hero p {
    text-align: center;
  }
  .hero-image img {
    max-width: 300px;
  }
}
